.login_show_hide_password {
    top: 7px;
    right: 20px;

    .login_show_password {
        // color: rgb(50, 205, 50);
        cursor: pointer;
    }
    .login_hide_password {
        // color: rgb(230, 36, 22);
        cursor: pointer;
    }
}
