#fixed_drawer_admin {
    .list-group-item {
        color: #fdfdfd;
        background-color: #f38e0a;
        transition: 0.1s background-color ease-in-out;
        &:hover {
            background-color: darken(#f38e0a, 20%);
        }
    }
}

.admin_mobile_drawer {
    position: absolute;
    top: 0;
    left: -93%;
    width: 93%;
    min-height: 100vh;
}
